Main/Main.VC.VC.opendb
Main/.vs/Main/v14/.suo
Main/Debug/Main.exe               
Main/Debug/Main.ilk                                            
Main/Debug/Main.pdb                       
Main/Main.sln                            
Main/Main/Debug/Game.obj                                        
Main/Main/Debug/Main.log                   
Main/Main/Debug/Main.obj                    
Main/Main/Debug/Main.pch                            
Main/Main/Debug/Main.tlog/CL.command.1.tlog        
Main/Main/Debug/Main.tlog/CL.read.1.tlog                     
Main/Main/Debug/Main.tlog/CL.write.1.tlog              
Main/Main/Debug/Main.tlog/Main.lastbuildstate  
Main/Main/Debug/Main.tlog/link.command.1.tlog                      
Main/Main/Debug/Main.tlog/link.read.1.tlog                        
Main/Main/Debug/Main.tlog/link.write.1.tlog                       
Main/Main/Debug/Player.obj                                         
Main/Main/Debug/Round.obj                                
Main/Main/Debug/stdafx.obj                                       
Main/Main/Debug/vc140.idb                                    
Main/Main/Debug/vc140.pdb  